@model qingjia_MVC.Models.T_Account
@{
    Layout = null;
}
<table>
        <tbody>
            <tr>
                <td class="form-group">
                    <label for="Q1">问题1：</label>
                    <div>
                        <input type="text" class="form-control" id="Q1" value="@Model.Q1" placeholder="尚未设置">
                    </div>
                </td>
                <td class="form-group">
                    <label for="A1">答案1：</label>
                    <div>
                        <input type="text" class="form-control" id="A1" value="@Model.A1" placeholder="尚未设置">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <label for="Q2">问题2：</label>
                    <div>
                        <input type="text" class="form-control" id="Q2" value="@Model.Q2" placeholder="尚未设置">
                    </div>
                </td>
                <td class="form-group">
                    <label for="A2">答案2：</label>
                    <div>
                        <input type="text" class="form-control" id="A2" value="@Model.A2" placeholder="尚未设置">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <label for="Q3" >问题3：</label>
                    <div>
                        <input type="text" class="form-control" id="Q3" value="@Model.Q3" placeholder="尚未设置">
                    </div>
                </td>
                <td class="form-group">
                    <label for="A3">答案3：</label>
                    <div>
                        <input type="text" class="form-control" id="A3" value="@Model.A3" placeholder="尚未设置">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
