@model qingjia_MVC.Areas.UserInfo.Controllers.TeacherDataModel
@{
    ViewBag.Title = "personal_T";
    List<string> classList = Model.classList;
    List<string> nameFirst = new List<string>();
    List<List<string>> trList = new List<List<string>>();
    foreach(string item in classList)
    {
        nameFirst.Add(item.Substring(0, 2));
    }
    HashSet<string> hs = new HashSet<string>(nameFirst);
    foreach(string item in hs)
    {
        List<string> trData = new List<string>();
        int n = 0;
        foreach(string classItem in classList)
        {
            if (classItem.Substring(0,2) == item)
            {
                n++;
                trData.Add(classItem);
            }
        }

        int a = n / 4;//假设A为0 B为3
        int b = n % 4;
        if (b != 0)
        {
            for (int i = 0; i < (4 - b); i++)
            {
                trData.Add("");
            }
            for (int i = 0; i <= a; i++)
            {
                List<string> tr = new List<string>();
                tr.Add(trData[(i * 4 + 0)]);
                tr.Add(trData[(i * 4 + 1)]);
                tr.Add(trData[(i * 4 + 2)]);
                tr.Add(trData[(i * 4 + 3)]);
                trList.Add(tr);
            }
        }
        else
        {
            for (int i = 0; i < a; i++)
            {
                List<string> tr = new List<string>();
                tr.Add(trData[(i * 4 + 0)]);
                tr.Add(trData[(i * 4 + 1)]);
                tr.Add(trData[(i * 4 + 2)]);
                tr.Add(trData[(i * 4 + 3)]);
                trList.Add(tr);
            }
        }
    }
}
@section head{
    <link href="~/Content/css/personal_teacher.css" rel="stylesheet" type="text/css">
}
@section script{
    <script>
        $(document).ready(function () {
            //输入事件
            $('.main-content').on('keyup', 'input[name=phone]', function () {
                setTimeout("checkTel()", 1000);
            });

            //输入事件
            $('.main-content').on('keyup', 'input[name=email]', function () {
                setTimeout("checkEmail()", 1000);
            });

            $('input[name=submit]').on('click', function (event) {
                //alert('保存事件');
                var Tel = $('input[name=phone]').val();
                var Email = $('input[name=email]').val();
                if (checkTel() && checkEmail()) {
                    //alert("1");
                    $.ajax({
                        //注意URL的格式
                        url: '/UserInfo/UserInfo/changeInfo_T?Tel=' + Tel + '&Email=' + Email,
                        success: function (response) {
                            if (response == "1") {
                                notify('修改完成！',1);
                            }
                        },
                        error: function () {
                            notify('发生错误！',2);
                        }
                    });
                }
                event.preventDefault();
            });
        });

        function checkTel() {
            var Tel = $('input[name=phone]').val();
            if (Tel == "") {
                notify('电话号码必须填写！',0);
                return false;
            }
            var re = /^1\d{10}$/;
            if (re.test(Tel)) {
                return true;
            } else {
                notify('电话号码格式错误！',0);
                return false;
            }
        }

        function checkEmail() {
            var Email = $('input[name=email]').val();
            if (Email == "") {
                notify('邮件必须填写！',0);
                return false;
            }
            var re = /^(\w-*\.*)+@@(\w-?)+(\.\w{2,})+$/;
            if (re.test(Email)) {
                return true;
            }
            else {
                notify('邮件格式错误！',0);
                return false;
            }
        }

        //通知
        function notify(message, icons) {
            layer.msg(message, {
                icon: icons,
                time: 5000, //2秒关闭（如果不配置，默认是3秒）
                offset: 't',
                skin: 'layui-layer-lan'
            });
        }
    </script>
}
@section body{
<div class="main">
    <div class="main-title">
        <h2>个人基本信息</h2>
    </div>
    <div class="main-content">
        <form class="form-horizontal" role="form">
            <table class="table table-condensed">
                <tbody>
                    <tr class="basic">
                        <td colspan="2">
                            <label>姓名：</label>
                            <span class="form-control-static">@Model.Name</span>
                        </td>
                        <td colspan="2">
                            <label>年级：</label>
                            <span class="form-control-static">@Model.Grade</span>
                        </td>
                    </tr>
                    <tr class="basic">
                        <td colspan="2">
                            <label>性别：</label>
                            <span class="form-control-static">@Model.Sex</span>
                        </td>
                        <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr class="spilt">
                        <td colspan="4"><img src="~/Content/image/personal-spilt1.png"></td>
                    </tr>
                    <tr class="contact">
                        <td colspan="4">
                            <label for="Phone" class="col-sm-2 control-label">手机：</label>
                            <div class="col-sm-10">
                                <input type="text" name="phone" class="form-control" id="Phone" value="@Model.Tel" placeholder="请输入手机号" required>
                            </div>
                        </td>
                    </tr>
                    <tr class="contact">
                        <td colspan="4">
                            <label for="Email" class="col-sm-2 control-label">Email：</label>
                            <div class="col-sm-8">
                                <input type="email" name="email" class="form-control" id="Email" value="@Model.Email" placeholder="请输入邮箱">
                            </div>
                        </td>
                    </tr>
                    <tr class="spilt">
                        <td colspan="4">
                            <img src="~/Content/image/personal-spilt2.png">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>负责班级：</h4>
                        </td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    @foreach (List<string> tr in trList)
                    {
                        <tr class="classlist">
                            @foreach (var td in tr)
                            {
                                <td>@td</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div class="save">
                <input type="image" name="submit" src="~/Content/image/button-save.png" value="">
            </div>
        </form>
    </div>
</div>
}


