@{
    var F = Html.F();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title - 请假系统</title>

    @F.RenderCss()
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/image/pageIcon.png" media="screen" />
    <link href="~/res/css/common.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/basestyle.css" type="text/css" rel="stylesheet">
    
    
    @RenderSection("head", false)
    
</head>
<body>
    @Html.AntiForgeryToken()

    @{
        var pm = F.PageManager;

        // 主题
        HttpCookie themeCookie = Request.Cookies["Theme_Mvc"];
        if (themeCookie != null)
        {
            //string themeValue = themeCookie.Value;
            string themeValue = "Default";
            
            Theme theme;
            if (Enum.TryParse<Theme>(themeValue, true, out theme))
            {
				pm.CustomTheme(String.Empty);
                pm.Theme(theme);
            }
            else
            {
                pm.CustomTheme(themeValue);
            }
        }
    }
    @F.PageManager

    @RenderSection("body", true)

    @F.RenderScript()
    <script src="~/Content/layer/layer.js"></script>
    @RenderSection("script", false)
</body>
</html>