@{
    Layout = null;
    
}
<div class="leave">
    <div class="content-title">
        <img src="~/Content/image/default-teacher-title1.png">
        <span>请假审核</span>
    </div>
    <div class="content">
        <ul>
            <li>
                <span>短期请假</span>
                <span>@ViewBag.leaveShortNum</span>
            </li>
            <li>
                <span>长期请假</span>
                <span>@ViewBag.leaveLongNum</span>
            </li>
            <li>
                <span>节假日去向</span>
                <span>@ViewBag.leaveHolidayNum</span>
            </li>
            <li>
                <span>上课请假备案</span>
                <span>@ViewBag.leaveClassNum</span>
            </li>
            <li>
                <span>晚点名请假</span>
                <span>@ViewBag.leaveNightNum</span>
            </li>
            <li>
                <span>早晚自习请假</span>
                <span>0</span>
            </li>
        </ul>
    </div>
</div>
<div class="back">
    <div class="content-title">
        <img src="~/Content/image/default-teacher-title2.png">
        <span>销假审核</span>
    </div>
    <div class="content">
        <ul>
            <li>
                <span>短期请假</span>
                <span>@ViewBag.backShortNum</span>
            </li>
            <li>
                <span>长期请假</span>
                <span>@ViewBag.backLongNum</span>
            </li>
            <li>
                <span>节假日去向</span>
                <span>@ViewBag.backHolidayNum</span>
            </li>
            <li>
                <span>晚点名请假</span>
                <span>@ViewBag.backNightNum</span>
            </li>
            @*<li>
                <span>短期请假</span>
                <span>15</span>
            </li>*@
        </ul>
    </div>
</div>
